@import "../styles/variables.scss";

#task-detail-app-body {
  .app-body-inner {
    overflow: initial;
  }
}

.task-detail-app-body .tasks-list {
  .display-item {
    padding-top: 0;
    padding-bottom: 0;
    cursor: initial;
    text-decoration: none;

    &:hover {
      cursor: initial;
      a {
        text-decoration: none;
      }
    }

    .inner {
      .left {
        height: 100%;
        height: 34px;
        align-items: center;
        svg,
        h5 {
          display: flex;
          &:hover {
            cursor: pointer;
          }
        }
        h5 {
          a {
            color: $color-black;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.task-detail-wrap {
  display: flex;
  flex-flow: column;
  height: 100%;
  .task-header {
    padding: 10px 0 0 0;
    flex: 0.5;
    background-color: $color-white;
    .task-header-inner {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      .task-assignees {
        display: flex;
        align-items: center;

        div {
          &:first-child {
            span {
              border-radius: 50%;
              width: 30px;
              height: 30px;
              background: #000;
              display: block;
            }
          }
          + div {
            padding-left: 10px;
            span {
              display: block;
              text-align: left;
              font-size: 11px;

              &:first-child {
                color: #999;
              }
              + span {
                padding-top: 5px;
              }
            }
          }
        }
      }
      .task-date {
        display: flex;
        align-items: center;
        cursor: pointer;

        h3 {
          padding: 0 10px;
        }
        svg {
          font-size: 30px;
          padding: 7px;
          border-radius: 50%;
          border: 1px solid $color-black;
        }
        div {
          padding-left: 10px;
        }
        span {
          display: flex;
          align-items: center;

          &:first-child {
            font-size: 12px;
          }
        }
      }
    }
    h3 {
      padding: 0 10px;
      cursor: pointer;
    }
    h6 {
      padding: 5px 10px;
      color: $color-gray;
      font-weight: 100;
      cursor: pointer;
    }
  }
  .task-action-feed {
    flex: 2.5;
    padding: 10px 10px 0 10px;

    ul {
      li {
        + li {
          margin-top: 10px;
        }
      }
    }
  }
  .task-comments {
    flex: 0.5;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    input {
      border-bottom: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      min-height: 40px;
    }
    .task-comments-inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 3px 10px 5px 10px;
      background-color: $color-white;
      border-bottom: 1px solid #ced4da;
      .left-side {
        display: flex;
        align-items: center;
        svg {
          font-size: 22px;
          cursor: pointer;
          + svg {
            margin-left: 15px;
          }
        }
      }
      .right-side {
        display: flex;
        cursor: pointer;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #999;
          margin-left: -10px;
          z-index: 1;

          &.user {
            background: none;
            margin-left: 0;
            z-index: 2;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          svg {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.tasks-list-calendar {
  width: 100%;
  flex: 1;
  height: 50%;
}

.tasks-list-dates {
  flex: 1;
  height: 300px;
  overflow-y: scroll;

  li {
    .the-day {
      color: $color-black;
      font-size: 14px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &.has-task-items {
      .the-day {
        color: #007bff;
      }
    }
  }
}

.tasks-calendar-list-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  .tab-content {
    display: none;
    flex-flow: column;
    height: 100%;
    .tab-pane {
      width: 100%;
      flex-flow: column;
      height: 100%;
      &.active {
        display: flex;
      }
    }
    &.active,
    > .active {
      display: flex;
    }
  }
  .tab-content {
  }
}

#task-dates-modal {
  .modal-content {
    .modal-header {
      h5 {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
          &:first-child,
          &:last-child {
            cursor: pointer;
          }
          &:last-child {
            color: #007bff;
          }
        }
      }
    }
    .modal-body {
      padding: 0;
      .react-calendar {
        border: none;
      }
      .more-options-link {
        position: relative;

        &.active {
          .popup {
            display: block;
          }
        }
        .inner {
          padding: 10px;
          background: $color-app-body-inner;
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          &:hover {
            cursor: pointer;
          }
          span {
            padding-left: 15px;
          }
        }

        .popup {
          position: absolute;
          right: 40px;
          top: -20px;
          width: 180px;
          border-radius: 0.3rem;
          display: none;

          ul {
            box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.45);
            li {
              padding: 8px 10px;
              background-color: $color-white;
              cursor: pointer;

              &:hover {
                background-color: $color-app-body-inner;
              }
              svg {
              }
              span {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#task-meta-modal {
  &.modal-dialog {
    .modal-header {
      h5 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
          cursor: pointer;
        }
      }
    }
  }
}
